.container {
  padding: var(--spacing);
  display: grid;
  gap: var(--spacing);
  grid-template-columns: repeat(1, 800px);
}

.aboutSection {
  background-color: var(--background-gray);
  padding: var(--spacing);
  border-radius: var(--border-radius);
}
