.logo {
  margin-left: 0.5rem;
}

.footer {
  display: flex;

  padding: 2rem 0;
  border-top: 1px solid var(--light-md);
  justify-content: center;
  align-items: center;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--bitovi-red-500);
  text-decoration: none;
}

.link:visited {
  color: var(--bitovi-red-800);
}

.link:hover,
.link:focus,
.link:active {
  text-decoration: underline;
}
