.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 88px;
  font-weight: bold;
  color: var(--bitovi-red-800);
}

.subtitle {
  font-size: 40px;
}
